
blockquote {
  border-left: $orange solid $xs;
  padding: $xs; 
  background-color: $light-grey;
  margin: 1rem 0;
}

code {
  background-color: #fafafa;
  font-family: 'menlo';
  font-weight: 100;
  font-size: 0.5rem;
}

pre {
  border: 1px solid #ccc;
  background: #f0f0f0;
  border-radius: .2em;
  padding: .5em;
  margin: 0;
}

pre > pre {
  background: none;
  border: none;
  padding: 0;
}