
#editor-container {
  background: #fafafa;
  padding: $s;
  margin-top: $m;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: $xs;
}

pre{
  border: 1px solid #ccc;
  background: #f0f0f0;
  border-radius: .2em;
  padding: .5em;
  margin: 0;
}


pre > pre {
  background: none;
  border: none;
  padding: 0;
}



