
#editor-container {
  color: var(--text);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: $s;
  padding: 0 $m 0 $m;

  display: grid;
  grid-template: 10vh 90vh / auto 30px;
}

/* 
grid-area
________________
|_toolbar______|
|           | u|
| editor    | t|
|           | i|
|___________|_l|

*/