
#editor-container {
  background: $editor;
  color: $text;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: $s;
  padding: $m;
}

::selection {
  background: $primary;
}





