
.sidebar-container {
  color: var(--text);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: var(--sidebar);

  width: 220px;
  border-right: 2px solid var(--separator);

  transition: width 0.35s;

  height: 100vh;
  overflow: auto;

  &.collapsed {
    width: 0;
  }
}

.sidebar {
  padding: $s;
}

.note {
  &:hover {
    color: var(--primary);
    cursor: pointer;
  }
}
