// colors
:root {
  --background: url(../images/white-wall.png);

  --sidebar: rgb(252, 251, 247);
  --notebooks-selection: rgba(214, 214, 214, 0.329);
  
  --icons: rgb(77, 74, 71);
  --separator: rgb(242, 237, 232); 
  --utils: #c0c0c0;

  --text: rgb(36, 35, 34);
  --light-text: rgb(216, 213, 210);
  --primary: rgb(239, 155, 110);
  --highlight: rgb(255, 233, 221);
  --code-color: (36, 35, 34);
  --code-background: rgb(235, 235, 235);
}

// spacing
$xs: 0.8rem;
$s: 1.2rem;
$m: 1.6rem;
$l: 3.2rem;
$xl: 4.8rem;


html {
  background: var(--background);
  color: var(--text);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: $s;
}

// hiding scrollbars
::-webkit-scrollbar { 
  display: none !important; 
}

// hiding all the blue focus borders
* :focus {
  outline: 0;
}

h1, h2 {
  margin: 0 !important;
}










/* light-theme 
  --background: url(../images/white-wall.png);

  --sidebar: rgb(252, 251, 247);
  
  --icons: rgb(77, 74, 71);
  --separator: rgb(242, 237, 232); 
  --utils: #c0c0c0;

  --text: rgb(36, 35, 34);
  --light-text: rgb(216, 213, 210);
  --primary: rgb(239, 155, 110);
  --highlight: rgb(255, 233, 221);
  --code-color: (36, 35, 34);
  --code-background: rgb(235, 235, 235);
*/

/* dark-theme 
  --background: rgb(46, 50, 53);
  --sidebar: rgb(252, 251, 247);
  --icons: rgb(218, 218, 218);
  --text: rgb(225, 225, 225);
  --light-text: rgb(216, 213, 210);
  --primary: rgb(239, 155, 110);
  --separator: rgb(126, 126, 126); 
  --highlight: rgb(179, 105, 66);
  --code-color: rgb(235, 235, 235);
  --code-background: rgb(75, 75, 75);
*/

