
.account {
  padding: $xs $s;

  .app-title {
    font-weight: 700;
    font-size: $s;
    opacity: 0.2;
  }

  .account-utils {
    opacity: 0.8;
    display: flex;
    margin-top: $m;

    .icon {
      font-size: 16px;
      margin-right: $s;
  
      &:hover {
        color: var(--primary);
        cursor: pointer;
      }
    }
  }
}