
.notes {
  padding-bottom: $m;

  overflow: auto;

  p, h4 {
    margin: 6px;
  }

  p {
    font-size: 14px;
  }
}

.note-container {
  transition: border 0.1s ease-in-out;

  &:hover {
    cursor: pointer;
    border-left: 4px solid var(--primary);
    background: var(--notes-selection);
  }
}

.note {
  border-bottom: 0.8px solid var(--separator);
  padding: 10px $s 10px 0;
  margin-left: $s;

  transition: border 0.1s ease-in-out;

  &:hover {
    border-bottom: 0.8px solid var(--notes-selection);
  }
}

