
.notebooks-title {
  margin-bottom: $xs;
  padding: 0 $s;
}

.notebook {
  cursor: pointer;
  padding: 8px $s;

  p {
    margin: 0;
  }

  &:hover {
    background: var(--notebooks-selection);
  }
}

.bookmarks {
  color: var(--primary);
  margin-bottom: $xs;

  .icon {
    color: var(--primary);
  }
}

.recycle-bin {
  margin: $s 0;
  opacity: 0.8;
}

.notebook .icon {
  padding-right: $xs;
}