
.notebooks-title {
  margin-bottom: $s;
  padding: 0 $s;
  display: flex;
  font-size: 20px;

  .icon {
    margin: 5px 0 0 $xs;
    font-size: 14px;

    transition: color 1s;

    :hover {
      cursor: pointer;
      color: var(--primary);
    }
  }

  .add-notebook {
    margin-left: auto;
  }
}

.bookmarks {
  color: var(--primary);
  margin-bottom: 10px;

  .icon {
    color: var(--primary);
  }
}

.notebook {
  cursor: pointer;
  padding: 8px $s;
  width: 205.88px;
  box-sizing: border-box;

  p {
    margin: 0;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &:hover {
    background: var(--notebooks-selection);
  }
}

.recycle-bin {
  margin: $s 0;
  opacity: 0.8;
}

.notebook .icon {
  padding-right: $xs;
}