
.notes {
  border-bottom: 2px solid var(--separator);
}

.note-container {
  border-top: 2px solid var(--separator);
}

.note {
  padding: $m $s;
  transition: border 0.1s;

  &:hover {
    cursor: pointer;
    border-left: 4px solid var(--primary);
  }
}

.note-title {
  margin: 0;
}
