
.search-bar {
  border: var(--border);
  border-radius: 10px;
  font-size: 14px;

  margin-right: $xs;

  display: flex;
  flex: 1;

  input {
    border-style: none;
    background: none;

    line-height: 1;
    width: 80%;
    overflow: auto;
  }
}

.search-bar .icon {
  margin: 10px;

  opacity: 0.6;
  filter: brightness(150%);
}