
.settings {
  padding: 16px $s;
  display: flex;
  border-bottom: var(--border);
  color: var(--toolbar-icons);

  .app-title {
    font-weight: 700;
    font-size: $s;
  }

  .icon {
    margin-left: auto;
    margin-top: 6.5px;
    font-size: 16px;

    &:hover {
      color: var(--primary);
      cursor: pointer;
    }
  }
}