
.sidebar {
  width: 500px;

  display: grid;
  grid-template-columns: 1fr 2fr;

  transition: width 0.35s;

  height: 100vh;

  &.collapsed {
    width: 0;
  }
}

.left-sidebar {
  font-size: $xs;
  padding: $s 0;

  display: grid;
  grid-template-rows: 25px auto; 
  row-gap: $s;

  overflow: auto;
}

.right-sidebar {
  border-right: 2px solid var(--separator);
  border-left: 2px solid var(--separator);

  overflow: auto;
}

.sidebar .icon {
  color: #565656;
}


