
.sidebar {
  width: 500px;;

  display: grid;
  grid-template-columns: 1.4fr 2fr;

  transition: width 0.35s;

  height: 100vh;

  &.collapsed {
    width: 0;
  }
}

.sidebar-notebooks {
  font-size: $xs;

  display: grid;
  grid-template-rows: auto 1fr; 
  height: 100vh;

  overflow: auto;
}

.sidebar-notes {
  border-right: var(--border);
  border-left: var(--border);

  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;

  overflow: auto;
}

.sidebar-notes-header {
  padding: 11px;
  border-bottom: var(--border);
  color: var(--toolbar-icons);

  display: flex;
}

.sidebar-notes-header .util {
  margin-left: auto;
  font-size: 20px;
  margin-top: 6px;
  
  :hover {
    color: var(--primary);
    cursor: pointer;
  }
}

.sidebar .icon {
  color: var(--icons);
}


