  
// quotes
blockquote {
  border-left: 4px solid var(--primary) ;
  padding: 5px $xs; 
  opacity: 0.8;
  margin: 0;
}

// code-blocks
.public-DraftStyleDefault-pre {
  padding: $xs;
}

pre {
  background: var(--code-background);
  color: var(--code-color);
  margin: 0;
  border-radius: 0.2rem;

  pre {
    background: none;
  }
}

// lists
ul, ol {
  margin: 0 !important;
}



