
.DraftEditor-editorContainer {
  padding-top: $m;
}

.editor {
  grid-column: 1 / 2;
  grid-row: 2 / 3;

  overflow: auto;
  
  line-height: 1.58;

  caret-color: var(--primary);
  padding: 0 2.5rem 2rem 0;
}

::selection {
  background: var(--primary);
  color: white;
}





