
#editor-container {
  padding: 0 $m 0 $m;

  display: grid;
  grid-template: auto 2vh 87vh / auto 30px;
}

/* 
grid-area
________________
|_toolbar______|
|           | u|
| editor    | t|
|           | i|
|___________|_l|

*/