
#editor-container {
  height: 100vh;

  display: grid;
  grid-template: auto 1fr / auto 65px;
}

/* 
grid-area
________________
|_toolbar______|
|           | u|
| editor    | t|
|           | i|
|___________|_l|

*/