
#toolbar {
  background: var(--background);
  border-bottom: 2px solid var(--separator);
  padding: $xs 0;

  display: flex;
  justify-content: flex-start;
  overflow: auto;

  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.headersDropdown  {
  background: transparent;
  color: var(--icons);
  font-weight: 500;
  margin-right: $xs;
  border-style: none;
  
  &:hover {
  color: var(--primary);
  }
}

.style-button {
  color: var(--icons);
  margin: 0 $xs;
  background: none;
  border-style: none;

  &:hover {
    color: var(--primary);
    cursor: pointer;
  }

  &.active {
    color: var(--primary);
  }
}

.block-styles, .inline-styles {
  display: flex;
}

.checkable-list-item-button {
  color: var(--icons);
  margin-right: $xs;
  opacity: 1 !important;

  &.active > .checkable-list-item-button__inner {
    color: var(--primary); 
  }
}

.checkable-list-item-button__inner {
  color: var(--icons);
  width: 30px !important;
  height: 20px !important;

  &:hover {
    color: var(--primary);
  }
}

