
:root {
  --editor: rgb(255, 255, 255);
  --sidebar: rgb(252, 251, 247);
  --text: rgb(58, 56, 55);
  --light-text: rgb(216, 213, 210);
  --primary: rgb(239, 155, 110);
  --separator: rgb(242, 237, 232); 
}

body {
  background: $editor;
}

